$color-green: #55c57a;
$color-green-dark: #28b485;
$color-green-light: #7ed56f;
$color-green-opacity: #5ec5763a;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;
$color-orange-opacity: #ffcd0331;
$color-pink: #eb2f64;
$color-pink-light: #ff3366;
$color-pink-dark: #ba265d;
$color-pink-opacity: #ff58602d;

$color-grey-light: #ddd;
$color-grey-light-1: #aaa;
$color-grey-dark: #37383d;
$color-grey-dark-1: #444;

$color-white-opacity: rgba(white, 0.7);
