.mt-lg {
  margin-top: 8rem;
}

.mt-bg {
  margin-top: 6rem;
}

.mt-md {
  margin-top: 4rem;
}

.mt-sm {
  margin-top: 2rem;
}

.mt-tn {
  margin-top: 1rem;
}

///////////
.mb-lg {
  margin-bottom: 8rem;
}

.mb-bg {
  margin-bottom: 6rem;
}

.mb-md {
  margin-bottom: 4rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-tn {
  margin-bottom: 1rem;
}

////////////
.text-center {
  text-align: center;
}