.section--1 {
	position: relative;
}
.features {
	padding: 5rem 8rem;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 4rem;

	@include respond(tab-port) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 1fr);
	}

	@include respond(phone) {
		padding: 2.5rem 4rem;
	}

	&__img {
		width: 100%;
		display: block;
		&--1 {
			grid-row: 1 / 2;
		}

		&--2 {
			grid-row: 3 / 4;
		}
		&-- {
			grid-row: 5 / 6;
		}
	}

	&__feature {
		width: 70%;

		align-self: center;
		justify-self: center;

		@include respond(tab-port) {
			width: 90%;
		}
	}

	&__icon-box {
		height: 5.5rem;
		width: 5.5rem;
		background-color: $color-green-opacity;
		border-radius: 50%;

		@include flexCenter;
	}

	&__icon {
		fill: $color-green;
		height: 2.5rem;
		width: 2.5rem;
	}
}
